# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/config.toml

# OS e IDE
.DS_Store
.vscode/
.idea/

# Dados (Opcional: ignore se os JSONs ficarem muito grandes)
# grupo5-guard.ia/data/*.json